.container {
    display: flex;
    flex-direction: column;
    max-width:64rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.5rem;
    padding-bottom: 8rem;
    gap:2rem;
}

.containerInfo {
    display: flex;
    flex-direction: column;
    gap:4rem;
}
.leftSide {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color:#8892b0;
    gap:1rem;
}

.technologies {
    list-style-type: none;
}

.span {
    color:#64FFda;
    padding-right: 1rem;
}

.firstFrame {
    width: 100%;
    height: 10rem;
    position: relative;
    /* border:1px blue solid; */
}

.secondFrame {
    position: absolute;
    width: 12rem;
    height: 10rem;
    margin-left: -6px;
    margin-top: -6px;
    border-radius: 0.5rem;
    /* border:1px g solid; */
}

.imageWraper {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 20;
    padding-left: 1.5rem;
    /* border:1px yellow solid; */
}

.image {
    border-radius: 0.5rem;
    height: 100%;

}

@media screen and (min-width: 768px) {
     .firstFrame {
        width: 33.33%;
     }
     .imageWraper {
        padding-left: 0;
     }
}

@media screen and (min-width: 1024px) {
        .container {
            padding-top: 8rem;

        }

        .containerInfo {
            flex-direction: row;
        }
        .leftSide {
            width: 66.66%;
        }
}
    
