.container {
    display: flex;
    flex-direction: column;
    max-width:64rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10rem;
    padding-bottom: 4rem;
    gap:2rem;
    /* border:1px red solid; */
}

.containerInfo {
    display: flex;
    flex-direction: column;
    gap:4rem;
    /* border: 1px solid red; */
}
.leftSide {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color:#8892b0;
    gap:1rem;
}

.technologies {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 450px;
    font-size: 0.875rem;
    gap:0.5rem;
    /* border:1px green solid; */
}

.span {
    color:#64FFda;
    padding-right: 1rem;
}


@media screen and (min-width: 768px) {
    .container {
        padding-top: 10rem;
    }
     
     .containerInfo {
        flex-direction: row;
    }
     
}

@media screen and (min-width: 1024px) {
        .container {
            padding-top: 6rem;
            padding-left: 15rem;

        }

        
        .leftSide {
            width: 66.66%;
        }

        .imageWraper {
            padding-left: 0;
         }
}
    
