.contactForm {

    padding:1rem;
    /* display: flex;
    width:60%; */
}
.form {
    display: flex;
    flex-direction: column;
    
}


.groupInputBox {
    display: flex;
    flex-direction: column;
    gap:2rem;
    flex-wrap: wrap;
}

.inputBox {
    width:auto;
    margin-top: 0.1rem;

}

.textBox {
    flex:1;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  

}

.field {
    width:100%;
    /* padding:0,5rem; */
    /* width:80%; */
    height: 3rem;
    background: #0a192f;;
    border:1px solid #ccc;
    outline: none;
    border-radius:0.375rem;
    padding:1rem;
    font-size: 0.875rem;
    color:#64ffda;
    margin-top: 0.2rem;
    box-sizing: border-box; /* to include padding and border in width */
}

.fieldText {
    width:100%;
    box-sizing: border-box;  /* to include padding and border in width */
    /* width: 95%; */
    background: #0a192f;
    border:2px solid #ccc;
    color:#64ffda;
    outline: none;
    padding:1rem;
    border-radius:0.375rem;
    margin-top: 0.2rem;
    resize:none
}

.captchaContainer {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
  }

.buttonContainer{
    display:flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.button {
    width:10rem;
    height: 3.5rem;
    border:1px solid #64ffda;
    margin-top: 1.5rem;
    font-size: 0.875rem;
    color: #64ffda;
    font-family: 'Inter', sans-serif;
    background-color:  #0a192f;
    cursor:pointer;
    padding:1rem 1rem;
}


@media screen and (min-width: 768px) {
    .groupInputBox {
        display: flex;
        flex-direction: row;
        
    }

    .field{
        width: 100%;
    }
}