
.form {
    width: 100%;
    border:1px solid #ccc;
}


.groupInputBox {
    display: flex;
    justify-content: space-evenly;
}

.inputBox {
    margin-top: 20px;

}

.field {
    width: 100%;
    height: 50px;
    background: #f9f9f9;
    border:2px solid #ccc;
    outline: none;
    border-radius:6px;
    margin-top: 8px;
}

.fieldText {
    width: 100%;
    background: #f9f9f9;
    border:2px solid #ccc;
    outline: none;
    border-radius:6px;
    margin-top: 8px;
}