.formContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .formGroup input,
  .formGroup textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .formGroup textarea {
    resize: vertical;
  }
  
  .button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .formContainer {
      padding: 15px;
    }
  
    .formGroup input,
    .formGroup textarea {
      font-size: 14px;
    }
  
    .button[type="submit"] {
      font-size: 14px;
      padding: 8px 16px;
    }
  }