.container {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #8892b0 ;
  background-color: #0A192F ;
  font-family: 'Montserrat', sans-serif;
}
.title {
  font-family: 'Inter', sans-serif;
}